.footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 300px;
     }
    .footer ul {
      list-style: none;
      text-decoration: none; }
    .footer li {
      line-height: 30px; }
    .footer a {
      text-decoration: none;
      color: #fff; }
  
  .derechos {
    color: #fff;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  
  .contactofooter ul {
    list-style: none; }
  
  .contactofooter li {
    line-height: 30px;
    color: #fff; }