.tarjeta{
    text-align: center;
        border: 1px solid;
        border-radius: 10px 10px 10px 10px;
        border-radius:10px;
        padding: 10px 10px 10px 10px;
        box-sizing: border-box;
        margin: 10px;
        
        @include anchoyalto(320px,500px)
        
}
.tarjeta:hover{
    -webkit-box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17); 
    box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17);
    
}