@import "_variables";
@import "_mixins";
@import "_footer";
@import "_navegador";
@import "_botones";
@import "_formulario";
@import "_tarjeta";

.titulonoti{
    
    background-color: $colorsecundario;
    height: 90px;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    h3{
        font-size: 30px ;
    }
}

.contacto{
  
    background-color: $colorsecundario;
    height: 90px;
    text-transform: uppercase;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    h3{
        font-size: 30px;
    }
}


.mainc{
    width: 100%;
    height: 700px;
    background-image: url(../img/campo.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column
    
}
.contac{
    color: $colorBlanco;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mainclientes{
    width: 100%;
    height: 700px;
    background-image: url("../img/campo\ 3.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column
}

.cajaempr{
    font-size: 30px;
    margin: 10px;
    padding: 10px;
    line-height: 50px;
    border: solid;
    -webkit-box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17); 
        box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17);
    h2{
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    }
    .imgposte3{
        border: solid;
        -webkit-box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17); 
            box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17);
    }
    .Otrocolor{
        color: $colorprincipal;
        font-size: 40px;
    }
    .titulonosotros{
        font-size: 40px;
    }
    
   